{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <style>
                body {
                    font-family: Roboto Thin;
                    background-image: url("../images/background.png");
                    background-attachment: fixed;
                    background-size: 100% 100%;
                }
        </style>
    </head>
    <body>
        <!--Header-->
        <div>
            <a href="Home.html">
            <img src="../images/logo.png" alt="logo" height="120" />
            </a>
            
            <a href="{% url 'website:login' %}">Login</a>
            
            <a href="{% url 'website:register' %}">Sign Up</a>
            
        </div>
        <!--Middle-->
        <div class="tac">
            <h1 class="grey-text">COMPANY POLICY</h1>
            <p class="yellow-text">say no to ligmas</p>

            <a href="About.html" class="navigation-link" style="display: inline-grid">

        <!--Footer-->
        <div class="footer">
            <div>
                <a href=" ">
                    <img src="{% static 'source/images/ig.png' %}" alt="Instagram" height="50">
                </a>
                <a href=" ">
                    <img src="{% static 'source/images/fb.png' %}" alt="Facebook" height="50">
                </a>
                <a href=" ">
                    <img src="{% static 'source/images/tw.png' %}" alt="Twitter" height="50">
                </a>
            </div>
            <p>copyright &copy;  <a href="mailto:shopx@mail.com" class="grey-text">ShopX</a><sup>&reg;</sup></p>
        </div>
    </body>
</html>
     