{% extends 'layout.html' %}

{% block body %}
    <head>
        <title>Login</title>
    </head>
    {% if message %}
        {{ message }}
    {% endif %}
    <h1>Login</h1>
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" placeholder="Username" name="username">
        <label for="password">Password: </label>
        <input type="password" placeholder="Password" name="password">
        <input type="submit">
    </form>
{% endblock %}